body {
    background-color: lightblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
}

p.norm {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#footer {
    color: grey;
    font-size: .8em;
    padding-top: 30px;
    padding-bottom: 0px;
}

a.btn {
    background-color: #f44336;
    color: white;
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

div.box {
    border: 5px double black;
}
